button.high {
    color: darkgreen;
    background: #65c07e;
    border-color: darkgreen;
    margin: 1px;
}
button:hover.high {
    background: #5bb975;
}
button:active.high {
    background: #4ea166;
}
button:checked.high {
    background: #3b7a4d;
}
button.low {
    color: darkred;
    background: #bd5757;
    border-color: darkred;
    margin: 1px;
}
button:hover.low {
    background: #b65353;
}
button:active.low {
    background: #a04545;    
}
button:checked.low {
    background: #8a3a3a;    
}