button.high {
    color: darkgreen;
    background: #65c07e;
    border-color: darkgreen;
    margin: 1px;
}
button:hover.high {
    background: #5bb975;
}
button:active.high {
    background: #4ea166;
}
button.low {
    color: darkred;
    background: #bd5757;
    border-color: darkred;
    margin: 1px;
}
button:hover.low {
    background: #b65353;
}
button:active.low {
    background: #944040;    
}